<div class="box">
<h2>Support the Project on Juicebox</h2>
<section>
<p><a href="https://juicebox.money/v2/p/471" class="juicebox" target="_blank"><img src="{{ static_url('img/juicebox-button-black.png') }}" width="160" border="0" style="border-radius: 160px; vertical-align: bottom; display: block;" alt="Fund us on Juicebox" /></a></p>
<p><strong>Pinnable is launched in the first half of 2023.</strong> You can support this project by contributing through Juicebox. In return, you'll receive dwb tokens, which are necessary to access and utilize the pinning service.</p>
</section>
</div>
