<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>{% block title %}Pinnable{% endblock %}</title>
  <link rel="icon" href="{{ static_url('img/dwb-icon-128.png') }}" type="image/png">
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}">
  <script type="text/javascript" src="{{ static_url('js/vendor/ethers.umd.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('js/main.js') }}"></script>
  {% if theme_color %}
  <meta name="theme-color" content="{{ theme_color }}">
  <style>
    :root {
      --color-theme: {{ theme_color }};
    }
  </style>
  {% endif %}
  <script>
    window.addEventListener('DOMContentLoaded', e => {
      {% block dom_ready %}
      {% endblock %}
    });
  </script>
</head>

<body>
  <div class="top-container">
    <header>
      <a href="/" class="logo"><img src="{{ static_url('img/pinnable.svg') }}" alt="Pinnable" height="32" border="0"
          style="vertical-align: bottom;"></a>
      {% if account %}
      <div class="spacer"></div>
      <div class="account-badge" onclick="location.href='/profile'">
        <div class="account-avatar"{% if account.avatar != None %} style="background-image: url('{{ account.avatar }}');"{% else %}style="background-image: url('https://zora.co/api/avatar/{{ account.address }}');"{% endif %}></div>
        <div class="account-name">{{ account.display_name }}</div>
      </div>
      {% endif %}
    </header>
  </div>
  <div class="main-wrapper">
    <div class="main-container">
      <nav>
        <div class="nav-inner">
          <a class="nav-item" href="/">Home</a>
          {% if account %}
          <a class="nav-item" href="/websites">Websites</a>
          {% endif %}
          <a class="nav-item" href="/pricing">Pricing</a>
          <a class="nav-item" href="/planet">Planet</a>
        </div>
      </nav>
      <article>
        {% block content %}
        {% endblock %}
      </article>
      <aside>
        {% block aside %}
        {% endblock %}
      </aside>
    </div>
  </div>
  <div class="bottom-container">
    <footer>Pinnable Alpha Test</footer>
  </div>
  {% if account %}
  <form method="post" action="/signout" id="signout">
    {{ xsrf_form_html()|safe }}
  </form>
  {% endif %}
</body>

</html>
