{% if account %}
<div style="position: sticky; top: 61px;"><div class="box">
  <h2 class="aside">Your Profile</h2>

  <div class="item-detail">
    <span class="item-detail-label-alt"><i class="dwb"></i> dwb balance</span>
    <span class="item-detail-content">{{ account.dwb_balance|format_tokens }}</span>
  </div>

  <h2 class="aside">Quota</h2>

  <div class="item-details">
    <div class="item-detail">
      <span class="item-detail-label-alt">Websites</span>
      <span class="item-detail-content">{{ account.quota['used_websites']}} / {{ account.quota['total_websites']
        }}</span>
    </div>
    <div class="item-detail">
      <span class="item-detail-label-alt">Storage</span>
      <span class="item-detail-content-alt">{{ account.quota['used_size']|format_bytes }} / {{
        account.quota['total_size']|format_bytes }}</span>
    </div>
  </div>
</div>
{% if request.uri != '/pricing' %}
<div class="box" style="text-align: center;">
  <a href="/pricing" class="btn" target="_blank">
    <img src="{{ static_url('img/externaldrive.badge.plus.svg') }}" height="16" align="absmiddle" />
    <span>Get More Storage</span>
  </a>
</div>
{% if account.dwb_balance == 0 %}
<div class="box">
  <p>If you have just finished your payment, it may take a while for it to reflect here.</p>
</div>
{% endif %}
{% endif %}
</div>
{% endif %}
