<div class="website-item">
  <div class="website-item-top">
    {% if website.image_url %}
    <div class="website-icon">
      <img src="{{ website.image }}" />
    </div>
    {% endif %}
    <div class="website-name"><a href="/websites/{{ website.id }}">{% if website.title != None %}{{ website.title|e }}{% else %}{{ website.name|e }}{% endif %}</a></div>
    <div class="website-access">
      <a class="btn" href="{{ website.url }}" target="_blank">
        <img src="{{ static_url('img/network.svg') }}" height="16" />
        <span>Visit</span>
      </a>
      {% if request.uri != "/websites/" + str(website.id) %}
      <a class="btn" href="/websites/{{ website.id }}">
        <img src="{{ static_url('img/ellipsis.svg') }}" width="16" />
      </a>
      {% endif %}
    </div>
  </div>
  <div class="website-item-details"{% if request.uri == '/websites/' + str(website.id ) %} id="website-item-details-{{ website.id }}"{% endif %}>
    {% if website.last_known_cid != None %}
    <div class="item-detail">
      <span class="item-detail-label">CID</span>
      <span class="item-detail-content"><a href="{{ website.cid_url }}" target="_blank" class="long">{{ website.last_known_cid }}</a></span>
    </div>
    {% else %}
    <div class="item-detail" id="website-not-pinned-{{ website.id }}">
      <span class="item-detail-content secondary">Website is not pinned yet</span>
    </div>
    {% endif %}
  </div>
  <div class="website-item-bottom">
    <div class="website-info" id="website-info-{{ website.id }}">{{ website.kind }}{% if website.size != None and website.size != 0 %} <span
        class="dot">·</span> Size: {{ website.size|format_bytes }}{% endif %}{% if website.subname %} <span
        class="dot">·</span> <a href="https://{{ website.subname}}.iweb.eth.limo/" target="_blank">{{ website.subname }}.iweb.eth</a>{% endif %}</div>
  </div>
</div>
