{% extends 'desktop/common/layout0.html' %}
{% block dom_ready %}
checkWalletConnection();
{% endblock %}
{% block content %}
<div class="box">
<h1>Welcome to Pinnable</h1>
<section>

{% if account %}
<p>Welcome back :-) <code>{{ account.display_name }}</code></p>
<div class="flex-one-row">
<a href="/websites" class="btn">
  <img src="{{ static_url("img/network.svg") }}" height="16" />
  <span>My Websites</span>
</a>
<a href="#;" onclick="signout()" class="btn">
  <span>Sign Out</span>
</a>
</div>
{% else %}
<p>We are building open-source software and infrastructure for pinning decentralized websites running on IPFS and ENS.</p>

<a href="javascript:doSIWE()" class="btn">
  <img src="{{ static_url("img/ethereum.svg") }}" height="16" />
  <span id="siwe-button-label"></span>
</a>
<!--
<a href="javascript:doSIWE();" class="svg-btn"><img src="{{ static_url("img/siwe.svg") }}" border="0" alt="Sign in with Ethereum" class="btn-siwe" /></a>
-->
<form method="post" action="/auth" id="siwe-form">
  <input type="hidden" name="signature" id="siwe-signature" value="">
  <input type="hidden" name="message" id="siwe-message" value="">
  {{ xsrf_form_html()|safe }}
</form>
{% endif %}
</section>
</div>

<div class="box">
<h2>What is Pinning?</h2>
<section>
<p>When you create and publish decentralized websites using the Planet app, your Mac serves as a node on the IPFS peer-to-peer network, hosting your sites. By utilizing pinning, additional copies of your websites are distributed across the entire network, resulting in quicker loading times and increased reachability. For laptop users, this eliminates the need to keep your laptop on as a server. Each time you publish new content, Pinnable initiates syncing with your node, ensuring that you don't have to keep your Mac on continuously as a server.</p>

<p>You will always maintain control over the authoritative version of your content.</p>
</section>
</div>

{% include 'desktop/common/juicebox.html' %}
{% endblock %}
{% block aside %}
{% include 'desktop/common/blog.html' %}
{% endblock %}
