{% extends 'desktop/common/layout0.html' %}
{% block content %}
<div class="box">
<h1>Welcome to Pinnable</h1>
<section>
<p>We are building open-source software and infrastructure for pinning decentralized websites running on IPFS and ENS.</p>
</section>
</div>

<div class="box">
<h2>What is Pinning?</h2>
<section>
<p>When you create and publish decentralized websites using the Planet app, your Mac serves as a node on the IPFS peer-to-peer network, hosting your sites. By utilizing pinning, additional copies of your websites are distributed across the entire network, resulting in quicker loading times and increased accessibility. For laptop users, this eliminates the need to keep your laptop on as a server. Each time you publish new content, Pinnable initiates syncing with your node, ensuring that you don't have to keep your Mac on continuously as a server.</p>

<p>You will always maintain control over the authoritative version of your content.</p>
</section>
</div>

{% include 'desktop/common/juicebox.html' %}
{% endblock %}