{% extends 'desktop/common/layout0.html' %}
{% block title %}Planet{% endblock %}
{% block content %}
<div class="box">
    <h1>Planet</h1>
    <section>
    <p>Planet is a native macOS application designed for creating and hosting decentralized websites. With this app, you can effortlessly build a blog featuring audio and video content, select from various theme designs, and publish it as an IPNS accessible via the IPFS P2P network or HTTP gateways. Moreover, you can link the IPNS to your ENS, enabling you to host your website on your ENS.</p>

    <p>Learn more about the <a href="https://planetable.xyz/" target="_blank">Planet</a> app.</p>
    </section>
</div>
{% endblock %}