{% extends 'desktop/common/layout0.html' %}
{% block title %}Pricing{% endblock %}
{% block content %}
<div class="box">
  <h1>Pricing</h1>
  <section>

    <table>
      <thead>
        <tr>
          <th width="130"></th>
          <th>Tier 1</th>
          <th>Tier 2</th>
          <th>Tier 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Payment</td>
          <td>0.05 E</td>
          <td>0.1 E</td>
          <td>0.25 E</td>
        </tr>
        <tr>
          <td>NFT</td>
          <td>NFT 1</td>
          <td>NFT 2</td>
          <td>NFT 3</td>
        </tr>
        <tr>
          <td><i class="dwb"></i> dwb Tokens <sup>1</sup></td>
          <td>50</td>
          <td>100</td>
          <td>250</td>
        </tr>
        <tr>
          <td>Pinning</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Domains</td>
          <td>2</td>
          <td>5</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Storage <sup>2</sup></td>
          <td>5G</td>
          <td>10G</td>
          <td>25G</td>
        </tr>
        <tr>
          <td>iWeb.eth <sup>3</sup></td>
          <td colspan="3">Assign subnames on iweb.eth</td>
        </tr>
      </tbody>
    </table>

    <p><small>1. This is not an investment. By contributing, you are supporting the development of open-source software
        designed to simplify the pinning of websites deployed on the IPFS peer-to-peer network. In return, you will
        receive utility tokens, which are necessary to access and utilize the pinning service.</small></p>

    <p><small>2. Storage space is shared among all of your domains. You can obtain more storage space by holding more
        dwb tokens.</small></p>

    <p><small>3. You can assign a subname on <a href="https://iweb.eth.limo/" target="_blank">iweb.eth</a> for each of your websites. The latest CID will be set as content hash for your iweb.eth subnames. The gasless updates are powered by the <a href="https://namestone.xyz/" target="_blank">NameStone API</a>.</small></p>

    <div class="flex-one-row">
      {% include 'desktop/common/get_dwb.html' %}
    </div>
  </section>
</div>
<div class="box">
  <section>
    <h2>What is the DWB token?</h2>
    <p>When you contribute to our project on Juicebox, you will receive DWB tokens in return. With a conversion rate of
      1 ETH = 1000 DWB tokens, these tokens grant you access to our pinning service for decentralized websites once it
      becomes available. Your available domain names and storage space will be determined by the number of tokens you
      possess.</p>
    <p><i class="dwb" style="margin-right: 8px;"></i> dwb = Decentralized Web</p>
  </section>
</div>
{% include 'desktop/common/ens.html' %}
<div class="box">
  <section>
    <h2>What is the Planetable NFT Series A?</h2>
    <p>Series A of Planetable NFTs features three distinct designs, which can be unlocked according to your contribution
      level. These animated APNG NFTs can be used as avatars in compatible services. Future perks will include using
      them to access new macOS app icons and more.</p>
    <div class="nft-gallery">
      <figure class="nft">
        <img src="{{ static_url('img/nft/nft-the-original.png') }}">
        <figcaption class="caption">Tier 1<br />The Original</figcaption>
      </figure>
      <figure class="nft">
        <img src="{{ static_url('img/nft/nft-the-neon-light.png') }}">
        <figcaption class="caption">Tier 2<br />The Neon Light</figcaption>
      </figure>
      <figure class="nft">
        <img src="{{ static_url('img/nft/nft-the-crt-glitch.png') }}">
        <figcaption class="caption">Tier 3<br />The CRT Glitch</figcaption>
      </figure>
    </div>
  </section>
</div>

{% include 'desktop/common/juicebox.html' %}

{% endblock %}
{% block aside %}
{% include 'desktop/common/quota.html' %}
{% endblock %}
