{% extends 'desktop/common/layout0.html' %}
{% block content %}
<div class="box">
  <div class="profile">
    <div class="profile-avatar"></div>
    <div class="profile-info">
      <div class="profile-name">{{ account.display_name }}</div>
      <div class="profile-info-row">Member since {{ account.humanize_time(account.created )}}</div>
      <div class="profile-info-row">
        <span class="token-balance"><i class="dwb"></i> {{ account.dwb_balance|format_tokens }}</span>
        <span class="token-balance"><i class="ens"></i> {{ account.ens_balance|format_tokens }}</span>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    const profileAvatar = document.getElementsByClassName('profile-avatar')[0];
    {% if account.has_avatar == True %}
    profileAvatar.style.backgroundImage = 'url("{{ account.avatar }}")';
    {% else %}
    profileAvatar.style.backgroundImage = 'url("https://zora.co/api/avatar/{{ account.address }}")';
    {% endif %}
  </script>
</div>
{% if account.nfts_count > 0 %}
<div class="box">
  {{ account.nfts_count }} collab NFTs

  <div class="nft-gallery tight">
  {% for nft in account.nfts %}
  {% if nft.image_url %}
    <figure class="nft">
      <a href="https://opensea.io/assets/{{ nft.chain }}/{{ nft.contract }}/{{ nft.token_id }}" target="_blank" class="img-link"><img src="{{ nft.image_url }}" alt="{{ nft.collection_name }} - {{ nft.token_id }}" /></a>
      <figcaption class="caption"><a href="https://opensea.io/assets/{{ nft.chain }}/{{ nft.contract }}/{{ nft.token_id }}" target="_blank"><strong>{{ nft.token_id }}</strong><br />{{ nft.collection_name|e }}</a></figcaption>
    </figure>
  {% endif %}
  {% endfor %}
  </div>

  <p>Since you own NFTs from projects by Pinnable's friends, you've gained {{ account.nfts_count }} extra slots for pinning website{% if account.nfts_count > 1 %}s{% endif %} and {{ account.nfts_count }} GB of additional storage space.</p>

</div>
{% endif %}
<div class="box">
  <div class="flex-one-row">
  <a href="/websites" class="btn">
    <img src="{{ static_url("img/network.svg") }}" height="16" />
    <span>Websites</span>
  </a>
  <a href="/objects" class="btn">
    <img src="{{ static_url("img/shippingbox.svg") }}" height="16" />
    <span>Objects</span>
  </a>
  <a href="#;" onclick="signout()" class="btn">
    <span>Sign Out</span>
  </a>
  </div>
</div>
{% endblock %}
