{% extends 'desktop/common/layout0.html' %}

{% block content %}
{{ breadcrumb(['Objects:/objects', object.object_uuid], theme_color)|safe }}
<form method="post" action="/objects/remove/{{ object.object_uuid }}" id="remove-object-{{ object.object_uuid }}">
{{ xsrf_form_html()|safe }}
</form>
<div class="box">
  <h1 style="line-break: anywhere">{{ object.filename|e }}</h1>

  <section>
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td width="36" style="font-size: 12px;">CIDv0</td>
        <td class="mono"><div class="flex-one-row">
          <span style="flex: 1; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"><a href="https://ipfs.io/ipfs/{{ object.cid|e }}" target="_blank" class="dashed">{{ object.cid|e }}</a></span>
          <input type="button" value="Copy" onclick="copyToClipboard('{{ object.cid|e }}')">
        </div></td>
      </tr>
      <tr>
        <td width="36" style="font-size: 12px;">CIDv1</td>
        <td class="mono"><div class="flex-one-row">
            <span style="flex: 1; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"><a href="https://ipfs.io/ipfs/{{ object.cidv1|e }}" target="_blank" class="dashed">{{ object.cidv1|e }}</a></span>
          <input type="button" value="Copy" onclick="copyToClipboard('{{ object.cidv1|e }}')">
        </div></td>
      </tr>
    </table>
  </section>
</div>

<div class="box">
  <figure style="margin-block-start: 0px; margin-block-end: 0px; text-align: center;">

  {% if object.is_image %}
    <img src="/cid-preview/{{ object.cid }}" style="max-width: 100%; box-shadow: var(--shadows);">
  {% elif object.is_audio %}
    <audio preload loop controls style="width: 61.8%; box-shadows: var(--shadows);">
      <source src="{{ object.cid_url }}" type="{{ object.content_type }}">
    </audio>
  {% elif object.is_video %}
    <video preload muted playsinline autoplay loop controls style="max-width: 100%; aspect-ratio: 16 / 9; box-shadow: var(--shadows); border-radius: 2px;">
      <source src="{{ object.cid_url }}" type="{{ object.content_type }}">
    </video>
  {% elif object.is_pdf %}
    <embed src="{{ object.cid_url }}" type="{{ object.content_type }}" style="width: 100%; aspect-ratio: 5 / 4; box-shadow: var(--shadows);">
  {% elif object.is_zip %}
    <img src="{{ static_url('img/types/zip.png') }}" style="max-width: 128px; box-shadow: none !important;">
  {% else %}
    <img src="{{ static_url('img/general.png') }}" style="max-width: 128px; box-shadow: var(--shadows);">
  {% endif %}
    <figcaption class="tasklog-item-time">{{ object.content_type|e }} • {{ object.size|format_bytes }}</figcaption>
  </figure>
</div>

<div class="box btns">
  <a href="{{ object.download_url }}" target="_blank" class="btn" download="{{ object.filename|e }}">
    <img src="{{ static_url('img/square.and.arrow.down.svg')}}" height="16" alt="Download" />
    <span>Download</span>
  </a>

  <a href="javascript:removeObject('{{ object.object_uuid }}')" class="btn">
    <img src="{{ static_url('img/minus.circle.fill.svg')}}" height="16" alt="Remove" />
    <span>Remove</span>
  </a>
</div>
{% endblock %}

{% block aside %}
{% include 'desktop/common/quota.html' %}
{% endblock %}
