{% extends 'desktop/common/layout0.html' %}
{% block content %}
<div class="box">
  <h1>Websites</h1>

  <div class="websites-buttons">
  {% if account.can_add_more %}
  <a href="/websites/add" class="btn">
    <img src="{{ static_url('img/plus.circle.fill.svg') }}" height="16" />
    <span>Add Website</span>
  </a>
  <div style="flex: 1"></div>
  <div class="flex-one-row">
    <div class="segmented-control">
      {% for o in order_options %}
      <a href="?o={{ o }}" class="segmented-control-item{% if order == o %} active{% endif %}">{{ o.title() }}</a>
      {% endfor %}
    </div>
  </div>
  {% else %}
    <div style="flex: 1; font-size: 16px; line-height: 1.2;">
    {% if account.dwb_balance == 0 %}
      Before you can add a website, you need to <a href="/pricing">get some dwb tokens</a>.
    {% else %}
      To add more website, you need to <a href="/pricing">get more dwb tokens</a>.
    {% endif %}
    </div>
    <div class="flex-one-row">
      {% include 'desktop/common/get_dwb.html' %}
    </div>
  {% endif %}
  </div>
</div>
<div class="box" id="websites">
  {% for website in websites %}
  {% include 'desktop/common/website_item.html' %}
  {% endfor %}
</div>
{% endblock %}
{% block aside %}
{% include 'desktop/common/quota.html' %}
{% endblock %}
